html {
  font-size: 14px; }

p {
  margin: 0; }

body {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  margin: 0 auto;
  max-width: 1360px; }
  header img {
    max-width: 219px;
    margin-bottom: 10px; }
  header p {
    font-size: 3vw;
    display: flex;
    align-items: flex-end; }

h4 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.4em; }

h1 {
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 0px; }

.side_box {
  position: fixed;
  right: 2rem;
  bottom: 1.6rem; }
  .side_box .button_1, .side_box .button_2, .side_box .button_3 {
    background-color: white;
    display: flex;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 100%;
    box-shadow: 0px 2px 3px #d2cfcf; }
  .side_box .button_3 {
    font-size: 1.5rem; }
  .side_box .button_1:hover, .side_box .button_2:hover, .side_box .button_3:hover {
    background-color: #eee; }
  .side_box .fcontent {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    bottom: 5.8rem;
    right: 7rem;
    width: 56vw;
    max-width: 350px;
    padding: 23px;
    line-height: 20px;
    max-height: 83px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px #d2cfcf; }
    .side_box .fcontent .bold {
      font-weight: 900; }

footer {
  background-color: black;
  min-height: 40px; }
  footer .footer_child {
    display: block;
    padding: 10px;
    margin: 0 auto;
    font-family: "Do Hyeon", sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #eee; }

@media (max-width: 725px) {
  header p {
    font-size: 3.4vw; }

  article {
    padding: 20px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    article .project {
      border-top: 3px solid black;
      width: 92vw;
      min-height: 50vh; }
      article .project .none_box {
        position: absolute;
        width: 92vw;
        height: 518px;
        background-color: transparent; }
      article .project .skills_box img {
        width: 2.1rem; } }
@media (max-width: 1025px) and (min-width: 726px) {
  header p {
    font-size: 3.4vw; }

  article {
    padding: 10px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    article .project {
      border-top: 3px solid black;
      width: 48vw;
      min-height: 50vh; }
      article .project .none_box {
        position: absolute;
        width: 48vw;
        height: 518px;
        background-color: transparent; }
      article .project .skills_box img {
        width: 2.3rem; } }
@media (min-width: 1026px) {
  header {
    display: flex;
    flex-direction: row;
    padding: 30px 10px;
    margin: 0 auto;
    max-width: 1360px; }
    header img {
      max-width: 219px; }
    header p {
      font-size: 1.3vw;
      display: flex;
      align-items: flex-end; }

  article {
    margin: 0 auto;
    max-width: 1360px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px; }
    article .project {
      border-top: 3px solid black;
      width: 32vw;
      max-width: 444px;
      min-height: 500px; }
      article .project .github_button {
        position: absolute;
        bottom: 50px;
        background-color: #eee;
        width: 50px;
        height: 50px;
        box-shadow: 0px 2px 3px #d2cfcf;
        border-radius: 15px; }
        article .project .github_button img {
          width: 50px;
          height: 50px; }
      article .project .none_box {
        position: absolute;
        width: 32vw;
        height: 518px;
        background-color: transparent; }
        article .project .none_box a {
          width: 100%;
          height: 100%; }
      article .project .skills_box img {
        width: 2.3rem; }

  footer {
    background-color: black;
    height: 40px; }
    footer .footer_child {
      padding: 0;
      height: 100%;
      margin: 0 auto;
      font-family: "Do Hyeon", sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1360px;
      color: #eee; } }

/*# sourceMappingURL=index.css.map */
