.func_desc {
    margin-bottom: 50px;
    &_more_btn {
        color: #2ac1bc;
        cursor: pointer;
    }

    &_more_btn:hover {
        font-weight: 600;
        text-decoration: underline;
    }

    &_more {
        display: none;
    }
}

.func_desc_cut_btn {
    color: #ff4757;
    cursor: pointer;
}

.func_desc_cut_btn:hover {
    font-weight: 600;
    text-decoration: underline;
}

.more_btn,
.reduce_btn {
    position: absolute;
    background-color: white;
    top: 100;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    border: 2px solid black;
    width: 99%;
    height: 50px;
    cursor: pointer;
}

.reduce_btn {
    display: none;
    background-color: black;
    color: white;
}
